<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Category Entries</strong>
                </div>
                <div class="card-block">
                    <form action="" method="post" name="category_entry_form" enctype="multipart/form-data" class="form-horizontal">
                        <div ng-show="!$cectrl.enableUploadStatus">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="question" >Question </label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="question"
                                       name="question"
                                       ng-model="$cectrl.question"
                                       class="form-control"
                                       placeholder="Category Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="answer" >Answer </label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="answer"
                                       name="question"
                                       ng-model="$cectrl.answer"
                                       class="form-control"
                                       placeholder="Category Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Has Option</label>
                            <div class="col-md-9">
                                <label class="radio-inline" for="hasOption">
                                    <input type="checkbox"
                                           id="hasOption"
                                           ng-model="$cectrl.hasOption"
                                           name="disableOption"
                                           value="disableOption">
                                </label>
                            </div>
                        </div>
                        <div class="form-group row" ng-show="$cectrl.hasOption">
                            <label class="col-md-3 form-control-label" for="optionA">Option A</label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="optionA"
                                       name="optionA"
                                       ng-model="$cectrl.optionA"
                                       class="form-control"
                                       placeholder="Enter Option A">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="$cectrl.hasOption">
                            <label class="col-md-3 form-control-label" for="optionB">Option B </label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="optionB"
                                       name="optionB"
                                       ng-model = "$cectrl.optionB"
                                       class="form-control"
                                       placeholder="Enter Option B">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="$cectrl.hasOption">
                            <label class="col-md-3 form-control-label" for="optionC">Option C </label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="optionC"
                                       name="optionC"
                                       ng-model="$cectrl.optionC"
                                       class="form-control"
                                       placeholder="Enter Option C">
                            </div>
                        </div>
                        <div class="form-group row" ng-show="$cectrl.hasOption">
                            <label class="col-md-3 form-control-label" for="optionD">Option D </label>
                            <div class="col-md-9">
                                <input type="text"
                                       id="optionD"
                                       name="optionD"
                                       ng-model="$cectrl.optionD"
                                       class="form-control"
                                       placeholder="Enter Option D">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Enable Advanced Option</label>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <label class="radio-inline" for="enableAdvancedOption">
                                        <input type="checkbox"
                                               id="enableAdvancedOption"
                                               ng-model="$cectrl.enableAdvancedOption"
                                               name="enableAdvancedOption"
                                               value="true">
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" ng-show="$cectrl.enableAdvancedOption">
                            <label class="col-md-3 form-control-label" for="timeAllowed">Question Time</label>
                            <div class="col-md-9">
                                <select
                                        id="timeAllowed"
                                        ng-model="$cectrl.timeAllowed"
                                        name="select"
                                        class="form-control form-control-sm">
                                    <option value="25">25 secs</option>
                                    <option value="30">30 secs</option>
                                    <option value="45">45 secs</option>
                                </select>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
                <a type="button" class="col-md-3 btn btn-sm btn-success" ng-click="$cectrl.enableFileUpload()"> Upload Entries</a>
                <div class="jumbotron-hr" ng-show="$cectrl.enableUploadStatus">
                <p>You can upload the questions in an excel sheet in xlsx or xls format.
                    The columns should be question, answer, optionA, optionB, optionC, optionD and time</p>
            </div>
                <div class="form-group row" ng-show="$cectrl.enableUploadStatus">
                    <label class="col-md-3 form-control-label" >Questions Upload</label>
                    <div class="col-md-9">
                        <input type="file"
                               ngf-select=""
                               ng-model="$cectrl.questionExcelFile"
                               name="file"
                               ngf-max-size="20MB"
                        >
                        <i ng-show="$cectrl.category_entry_form.file.$error.required">*required</i><br>
                        <i ng-show="$cectrl.category_entry_form.file.$error.maxSize">File too large
                            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="$cectrl.uploadQuestion()">Upload Category Entries</button>
                        <p>{{$cectrl.progress}}
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a type="button"
                       class="btn btn-sm btn-primary"
                    ng-click="$cectrl.createCategoryEntry()"><i class="fa fa-dot-circle-o"></i> Submit</a>
                </div>
            </div>

        </div>
        <!--/.col-->
    </div>
</div>
